<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
             http://www.springframework.org/schema/beans/spring-beans.xsd
             http://www.springframework.org/schema/tx
             http://www.springframework.org/schema/tx/spring-tx.xsd
              http://www.springframework.org/schema/aop
              http://www.springframework.org/schema/aop/spring-aop.xsd
                http://www.springframework.org/schema/context
              http://www.springframework.org/schema/context/spring-context.xsd">

<!--    扫描service下包-->
    <context:component-scan base-package="ze.Service"/>

<!--    把业务注入到spring中(就是看做了一个个的bean)，可以通过配置或@Autowired注解实现-->
<bean id="bookServer" class="ze.Service.lmpl.BookServerImpl">
    <property name="bookMapper" ref="bookMapper"/>
</bean>

<!--    声明事务管理-->
    <bean id="TransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
<!--        注入数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>




<!--    aop提交事务-->
    <tx:advice id="txAdvice" transaction-manager="TransactionManager">
    <!--配置事务的属性 -->
    <tx:attributes>
        <tx:method name="*"  propagation="REQUIRED"/>
    </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut id="pt1" expression="execution(* ze.Dao.*.*(..))"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pt1"/>
    </aop:config>
</beans>